<!-- <mat-sidenav-container class="layout">

  <mat-sidenav mode="side" opened class="sidenav">
    <h2 class="logo">FinSync</h2>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/add-expense">
        <span>Add Expense</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container> -->

<app-dashboard></app-dashboard>